/* タブレット向け*/
@media (max-width: 1000px) {

.name h1 {
    font-size: 52px;
}

.name p {
    font-size: 40px;
    margin-bottom: 15px;
    text-decoration: underline 2px;
    text-underline-offset: 4px;
}

.main-wrapper h2 {
    font-size: 46px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.pocket.top-center { display: none; }
.pocket.bottom-center { display: none; }

.pocket.left-center { display: block; }
.pocket.right-center { display: block; }

.item {
    width: 45%;
    height: 120px;
    margin-bottom: 45px;
}

.item span {
    font-size: 24px;
}

.item p {
    font-size: 24px;
}

.sub-wrapper h2 {
    font-size: 40px;
}

.sub-wrapper p {
    font-size: 20px;
}

}

/* スマホ向け */
@media (max-width: 680px) {

.name h1 {
    font-size: 40px;
}

.name p {
    font-size: 28px;
    margin-bottom: 10px;
    text-decoration: underline 1px;
    text-underline-offset: 3px;
}

.main-wrapper h2 {
    font-size: 32px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.item {
    width: 75%;
    height: 80px;
    margin-bottom: 40px;
}

.item span {
    font-size: 18px;
}

.item p {
    font-size: 18px;
    line-height: 2;
}

.quiz {
    clear: left;
    width: 100%;
    height: 20%;    
}

.sub-wrapper h2 {
    font-size: 28px;
}

.sub-wrapper p {
    font-size: 18px;
}

.hint-button {
    font-size: 16px;
}

.answer-button {
    font-size: 16px;
}

}
